header {
  color: white;
  height: 230px;
  background-image: url("../img/header.jpg");
}

header h1 {
  padding-top: 50px;
  color: #BBBBBF;
  font-size: 250%;
}

header h2 {
  font-style: bold;
  font-size: 150%;
  color: white;
}

body {
  background-color: #BBBBBF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

img {
  width: 230px;
}

.buddy {
  background-color: #475B5A;
}

.buddy h2{
  text-transform: uppercase;
}

.buddy h3{
  font-style: italic;
}

.buddy p {
  padding: 10px 50px;
  /*line-height:40px;*/
}

@media screen and (min-width: 900px) {
  .buddy {
    width: 31%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    height: 650px;
  }
}

@media screen and (max-width: 768px) {
  body {


  }
}

@media screen and (max-width: 480px) {
  body {

  }
}
